<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
  </head>
  <body>
    <main>
      <form action="/register" method="post">
        <div>
          <label for="name">Name: </label>
          <input
            type="text"
            id="name"
            placeholder="Enter Name"
            name="name"
          />
        </div>
        <div>
          <label for="email">Email: </label>
          <input
            type="email"
            id="email"
            placeholder="Enter Email"
            name="email"
          />
        </div>
        <div>
          <label for="password">Password: </label>
          <input
            type="password"
            id="password"
            placeholder="Enter Password"
            name="password"
          />
        </div>
        <div>
            <button type="submit">Register</button>
        </div>
      </form>
    </main>
  </body>
</html>
