<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
    <title>Edit</title>
  </head>
  <body>
    <div class="main w-full min-h-screen bg-zinc-900">
      <div class="form p-10 text-white">
        <form action="/edit" method="post">
          <input
            class="block outline-none w-3/12 rounded-lg px-5 py-2 bg-zinc-800 text-zinc-400"
            type="text"
            placeholder="Previous name"
            name="previous"
            value="<%= filename %>"
          />
          <input
            class="block outline-none w-3/12 rounded-lg px-5 py-2 bg-zinc-800 mt-2"
            type="text"
            placeholder="Enter new Name..."
            name="new"
          />
          <input
            class="mt-2 bg-yellow-600 px-5 py-2 rounded-md"
            type="submit"
            value="Update Task Name"
          />
        </form>
      </div>
    </div>
    <script src="/javascripts/script.js"></script>
  </body>
</html>
