<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <h1> hey, <%= locals.name %></h1>
    <form action="/form" method="post">
        <input type="text" placeholder="Enter Username" name="username">
        <input type="email" placeholder="Enter Email" name="email">
        <input type="text" placeholder="Enter Password" name="password">
        <button type="submit">Submit</button>
    </form>
    <script src="/scripts/script.js"></script>
</body>
</html>